<h2>Rpg</h2>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Filter:</label>
    <div class="col-sm-10">
        <input [(ngModel)]="filter" class="form-control">
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Image</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Plataforma</th>
            <th>Categoria</th>
        </tr>
    </thead>


<tbody>
    <tr *ngFor="let rpg of filteredAcaos">
    <td><img [src]="rpg.imageUrl" width="200" height="150"></td>
    <td>{{ rpg.nome }}</td>
    <td>{{ rpg.preco }}</td>
    <td>{{ rpg.plataforma }}</td>
    <td>{{ rpg.categoria }}</td>
</tr>
</tbody>
</table>
